body {
    background-color: white;
    display: block;
    margin-top: 20px;
}

.google_container {
    display: block;
    text-align: center;
    margin: 200px 0;
}

nav {
    padding: 10px 0;
}

nav a {
    margin: 0 25px;
}

.leftnav {
    float: left;
}

.rightnav {
    float: right;
}

.form_group {
    margin: auto;
    width: 50%;
}

.form_group input {
    width: 100%;
    height: 35px;
}

