:root {
    --shadow-color: rgb(230, 230, 230);
}

input, select, textarea, button {
    font-size: inherit;
}

body {
    font-size: 20px;
    background-color: white;
    font-family: arial, sans-serif;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

.link--gray {
    color: gray;
}

nav {
    margin-top: -20px;
    padding: 40px;
    font-size: 21px;
}

.nav__section--paddingtop {
    padding-top: 13px;
}

.nav__links--marginleft {
    margin-right: 25px;
}

.nav__links--marginright {
    margin-left: 17px;
}

.nav__icons {
    vertical-align: middle;
    color:rgb(90, 90, 90);
}

.nav__appicon {
    margin-left: 10px;
    font-size: 36px;
}

.nav__appicon:hover {
    --nav__appicon-icon-shadow: rgb(244, 244, 244);
    background-color: var(--nav__appicon-icon-shadow);
    box-shadow: 0 0 0 10px var(--nav__appicon-icon-shadow);
    border-radius: 50%;
}

.nav__usericon {
    font-size: 55px;
}

.nav__usericon:hover {
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 0px rgb(50, 50, 50));
}

.google-logo {
    display: block;
    text-align: center;
    margin: 30px auto 10px auto;
}

.search {
    text-align: center;
    margin: 20px auto;
}

.search__input {
    width: 100%;
    height: 35px;
    padding: 15px;
    max-width: 850px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 200px;
    text-indent: 7%;
    font-size: 24px;
}

.search__input:hover {
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 8px #ccc;
}

.search__input:focus {
    outline: none;
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 8px #ccc;
}

.search__buttons {
    max-width: 220px;
    min-width: 170px;
    padding: 15px 20px;
    margin: 43px 17px 0px auto;
    background-color: rgb(248, 248, 248);
    border: 0;
    box-shadow: none;
    border-radius: 5px;
}

.search__buttons:hover {
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 2px #eee;
}

.search__buttons:focus {
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 2px #eee;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    padding: 25px 0;
}

#footer__left {
    margin-left: 50px;
}

#footer__right {
    margin-right: 50px;
}

.footer__links--marginleft {
    margin-right: 40px;
}

.footer__links--marginright {
    margin-left: 45px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.search_icon {
    position: absolute;
    padding: 16px;
    font-size: 36px;
    color: rgb(160, 160, 160);
}
