body {
    background-color: white;
    display: block;
    margin-top: 20px;
}

.google_container {
    display: block;
    text-align: center;
    margin: 68px auto 55px auto;
}

nav {
    padding: 10px 0;
}

nav a {
    margin: 0 25px;
}

.leftnav {
    float: left;
}

.rightnav {
    float: right;
}

.form_group {
    text-align: center;
    margin: auto;
}

.form_group input {
    width: 100%;
    max-width: 900px;
    height: 35px;
}

.form_input button {
    width: 30%;
    max-width: 170px;
    min-width: 170px;
    padding: 15px;
    margin: 43px 17px 0px auto;
}
