:root {
    --shadow-color: rgb(230, 230, 230);
}

input, select, textarea, button {
    font-size: inherit;
}

body {
    background-color: white;
    margin: 20px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav {
    padding: 10px 0;
}

.leftnav {
    float: left;
}

.leftnav a {
    margin-right: 25px;
}

.leftnav:first-child {
    margin-left: 40px;
}

.rightnav:last-child {
    margin-right: 25px;
}

.rightnav {
    float: right;
}

.rightnav a {
    margin-left: 17px;
}

.google_container {
    display: block;
    text-align: center;
    margin: 68px auto 55px auto;
}

.search {
    text-align: center;
    margin: 20px auto;
}

.search_box {
    width: 100%;
    height: 35px;
    padding: 15px;
    max-width: 850px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 200px;
    text-indent: 7%;
    font-size: 24px;
}

.search_box:hover {
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 8px #ccc;
}

.search_box:focus {
    outline: none;
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 8px #ccc;
}

.search_button {
    max-width: 220px;
    min-width: 170px;
    padding: 15px 20px;
    margin: 43px 17px 0px auto;
    background-color: rgb(248, 248, 248);
    border: 0;
    box-shadow: none;
    border-radius: 5px;
}

.search_button:hover {
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 2px #eee;
}

.search_button:focus {
    border: 1px solid var(--shadow-color);
    box-shadow: 0px 2px 2px #eee;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    padding: 20px 0px;
}

.footer_left {
    float: left;
}

.footer_left:first-child {
    margin-left: 52px;
}

.footer_right {
    float: right;
}

.footer_right:last-child {
    padding-right: 52px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer_left a {
    margin-right: 40px;
}

.footer_right a {
    margin-left: 45px;
}

.nav_icon span {
    vertical-align: middle;
    color:rgb(90, 90, 90);
}

.waffle {
    margin-left: 10px;
    font-size: 36px;
}

.waffle:hover {
    --waffle-icon-shadow: rgb(244, 244, 244);
    background-color: var(--waffle-icon-shadow);
    box-shadow: 0 0 0 10px var(--waffle-icon-shadow);
    border-radius: 50%;
}

.user {
    font-size: 55px;
}

.user:hover {
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 0px rgb(50, 50, 50));
}

.search_icon {
    position: absolute;
    width: 0%;
    padding: 16px;
    margin-left: 5px;
    margin-top: 1px;
    font-size: 36px;
    color: rgb(160, 160, 160);
}
