body {
    background-color: white;
    display: block;
    margin-top: 20px;
}

nav {
    display: block;
    padding-bottom: 20px;
}

.leftnav {
    float: left;
    /* border: 2px solid black; */
}

.rightnav {
    right: 20px;
    float: right;
    /* border: 2px solid black; */
}

a {
    margin: 20px;
}

nav p {
    display: inline;
    margin: 3px;
    padding: 12px;
    /* border-width: 2px;
    border-style: solid; */
}
